[Unit]
Description=homepage wsgi

[Service]
User=dan
ExecStart=/usr/bin/zsh /opt/homepage/services/scripts/run-wsgi-server

[Install]
WantedBy=multi-user.target