@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('../fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
	-webkit-text-size-adjust: 100%;
	font-family: 'Roboto Mono';
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
    font-weight: normal;
    font-style: normal;
    font-size:1.1em;
    font-feature-settings: normal;
    font-variation-settings: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
	background: var(--background);
	color: var(--body-color);
	text-align: center;
}

body {
	padding-left: 2.0em;
	padding-right: 2.0em;
	padding-bottom: 2.0em;
}

a {
	color: var(--link-color);
	text-decoration: underline;
}

strong {
	color: var(--strong-color);
}

.theme {
	padding-top: .5em;
	font-size: 1.65em;
}

.theme a {
	text-decoration: none;
	color: var(--body-color);
}

.theme svg {
	max-width: .75em;
	max-height: .75em;
}

.center-flex {
	padding-top: .5em;
}

.headshot {
	padding-top: 1.0em;
}

.headshot img {
	max-width: 11em;
	display: inline-block;
	border-radius: 9999px;
}

.greeting {
	font-weight: bold;
	font-size: 1.65em;
}

.titles {
	padding-top: .5em;
	font-size: 1.0em;
}

.section {
	padding-top: 1.0em;
	text-align: left;
}

.links {
	padding-top: 2.0em;
	line-height: 3.0em;
	text-align: center;
}

.links a {
	padding-right: .75em;
	padding-left: .75em;
}

.footer {
	padding-top: 2.0em;
	font-size: .80em;
}

@media (min-width: 640px) {
	.center-flex {
		display: flex;
		flex-direction: row;
	}

	.summary-flex {
		flex-basis: 70%;
		text-align: left;
		padding-top: 2.5em;
		padding-right: 1.0em;
	}

	.headshot {
		padding-top: 0.0em;
	}

	.headshot-flex {
		flex-basis: 30%;
		text-align: right;
	}
}