{% extends "./base.html" %}
    {% block content %}
        <div class="nav">
            <a href="{% url 'home' %}">home</a>
            <a href="{% url 'about' %}">about</a>
            <a href="{% url 'work' %}">work</a>
        </div>
        <div class="section">
        <h2>Contact</h2>
            <ul>
                <li>dan@<a href="{% url 'home' %}">dasa.dev</a></li>
                <li><a href="https://fosstodon.org/@dansahagian">@dansahagian@fosstodon.org</a></li>
                <li><a href="https://linkedin.com/in/dansahagian">in/dansahagian</a></li>
            </ul>
        </div>
    {% endblock %}