{% extends "./base.html" %}
    {% block content %}
        <div class="top-flex">
            <div class="logo-flex">
                <a href="{% url 'home' %}">dan sahagian</a>
                {% if theme == "light" %}
                    <a href="{% url 'theme' %}">
                        <svg id="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                        </svg>
                    </a>
                {% else %}
                    <a href="{% url 'theme' %}">
                        <svg id="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="5"></circle>
                            <line x1="12" y1="1" x2="12" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="23"></line>
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                            <line x1="1" y1="12" x2="3" y2="12"></line>
                            <line x1="21" y1="12" x2="23" y2="12"></line>
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                        </svg>
                    </a>
                {% endif %}
            </div>
            <div class="nav-flex">
                <a href="{% url 'about' %}">about</a>
                <a href="{% url 'work' %}">work</a>
                <a class="current" href="{% url 'contact' %}">contact</a>
            </div>
        </div>
        <div class="section">
            <h3>Contact</h3>
            <p>
                Disabled until I can stop the garbage!
            </p>
{#            <form action="{% url 'contact' %}" method="POST">#}
{#                {% csrf_token %}#}
{#                <p>#}
{#                    <label for="{{ form.math_question.id_for_label }}">1 + 2 =</label><br>#}
{#                    {{ form.math_question }}#}
{#                </p>#}
{#                <p>#}
{#                    <label for="{{ form.email.id_for_label }}">Email</label><br>#}
{#                    {{ form.email }}#}
{#                </p>#}
{#                <p>#}
{#                    <label for="{{ form.message.id_for_label }}">Message</label><br>#}
{#                    {{ form.message }}#}
{#                </p>#}
{#                #}
{#                <input type="submit" value="Send"/>#}
{#            </form>#}
        </div>
    {% endblock %}