{% extends "./base.html" %}
    {% block content %}
        <div class="section">
            <p><a href="{% url 'home' %}">home</a>/projects</p>
        </div>
        <div class="section">
            <p>
                <a href="{% url 'fmoney' %}">F Money</a>
                is a funny podcast about personal finance.
            </p>
            <p>
               <a href="https://github.com/dansahagian/fbsurvivor">fbsurvivor</a>
                is a web app to run an NFL Survivor League.
            </p>
        </div>
    {% endblock %}


<a href="https://github.com/dansahagian">github</a>
            <a href="https://bsky.app/profile/dasa.dev">bluesky</a>
            <a href="https://linkedin.com/in/dansahagian">linkedin</a>