{% extends "./base.html" %}
    {% block content %}
        <div class="section">
            <p>
                <a href="{% url 'home' %}">dan sahagian</a>
            </p>
            <h2>work</h2>
            <p>
                I'm not on LinkedIn, but this is what you'd find there.
            </p>
            <p>
                <strong>Apr 2024</strong><br>
                I joined <a href="https://getdbt.com">dbt Labs</a> as an Engineering Manager leading the
                team that builds <a href="https://www.getdbt.com/product/dbt-explorer">dbt Explorer</a>. It is early
                days, but I'm excited to be at dbt Labs and happy to have joined such a great team.
            </p>
            <p>
                <strong>Feb 2022</strong><br>
                I joined <a href="https://spotify.com">Spotify</a> as an <strong>Engineering Manager</strong> when
                Spotify <a href="https://newsroom.spotify.com/2022-02-16/spotify-acquires-podsights-and-chartable-to-advance-podcast-measurement-for-advertisers-and-insights-for-publishers/">acquired Podsights</a>. Our team continued to build the Podsights API,
                eventually relaunching the product as Spotify Ad Analytics. I grew our initial team of 4 to 8 engineers
                in just 5 months after the acquisition. Building and leading such an amazing team was a highlight of my
                career.
            </p>
            <p>
                <strong>Oct 2020</strong><br>
                I joined Podsights (employee #11) as a <strong>Software Engineer</strong> and started working on our
                Django backend and GraphQL API. I was able to lead recruiting for a few roles, work closely with sales,
                and ship so many features. A few months before we were acquired, I was made a
                <strong>Team Lead</strong>.
            </p>
            <p>
                <strong>Apr 2019</strong><br>
                I joined <a href="https://www.realpage.com/">RealPage</a> as a <strong>Software Engineer</strong>
                working on two distinct products with Django backends and REST APIs. This was my first "real technology
                job", even though I had been building things for a handful of years at this point. After 6 months, I was
                promoted to <strong>Senior Software Engineer</strong>.
            </p>
            <p>
                <strong>Jan 2008</strong><br>
                I joined <a href="https://bostonadvisors.com">Boston Advisors</a> as an
                <strong>Operations Analyst</strong> working on a newly launching hedge fund. When they closed the fund,
                I joined the Operations Team as a <strong>Systems Analyst</strong> and started building internal tools
                using Excel and VBA before moving on to use Python, Flask, and SQL. In my last year, I joined the
                Quant Team as a <strong>Software Developer</strong>. In total, I spent over a decade here and left to
                try consulting.
            </p>
            <p>
                <strong>Apr 2005</strong><br>
                I graduated Magna Cum Laude from <a href="https://www.northeastern.edu/">Northeastern University</a><br>
                where I earned my <strong>Bachelor of Science in Mathematics</strong>. I landed a job as a
                <strong>Hedge Fund Accountant</strong> and then worked as a <strong>Day Trader</strong> for a bit.
            </p>
        </div>
    {% endblock %}