{% extends "./base.html" %}
    {% block content %}
        <div class="section">
            <p><a href="{% url 'home' %}">home</a>/work</p>
            <p>2025 to now: The Founder</p>
            <p>
                In February 2025, I started Sortie, a technology company building software for FAA
                Part 135 Operators.
            </p>
            <br>
            <p>2024 to 2025: The Explorer</p>
            <p>
                In October 2024, I started a company, and then quickly shut it down, traded options
                for fun, and launched a podcast with two friends. I wrote more while I reflected on
                the first twenty years of my career and thought about what I wanted out of the next
                twenty. I explored ideas and talked to a lot of people. I also took a short break.
            </p>
            <br>
            <p>2022 to 2024: The Manager</p>
            <p>
                In April 2024, I joined <a href="https://getdbt.com">dbt Labs</a> as an Engineering
                Manager <strong>leading the team</strong> that builds
                <a href="https://www.getdbt.com/product/dbt-explorer">dbt Explorer</a>. I left in
                October 2024 to explore starting a company and ultimately ended up taking a break.
            </p>
            <p>
                Before that, I spent 2 years as an Engineering Manager at
                <a href="https://spotify.com">Spotify</a> after they
                <a href="https://newsroom.spotify.com/2022-02-16/spotify-acquires-podsights-and-chartable-to-advance-podcast-measurement-for-advertisers-and-insights-for-publishers/">acquired</a>
                Podsights. I <strong>grew our initial team</strong> of 4 engineers to 8 in
                just 5 months after the acquisition. <strong>Building and leading</strong> such an
                amazing team is a highlight of my career.
            </p>
            <br>
            <p>2019 to 2022: The Engineer</p>
            <p>
                In October 2020, I joined Podsights as <strong>employee #11</strong> and started
                working on our <strong>Django</strong> backend and <strong>GraphQL</strong> API.
                I <strong>lead recruiting</strong> for a few roles and worked closely with sales
                and customer success. A few months before we were acquired, I was
                <strong>promoted to Team Lead</strong>.
            </p>
            <p>
                Before that, I spent 18 months at <a href="https://www.realpage.com/">RealPage</a>
                as a Software Engineer working on a <strong>Django</strong> backend with a
                <strong>REST</strong> API.
            </p>
            <br>
            <p>2005 to 2019: The Analyst</p>
            <p>
                In this first arc of my career, I worked mostly in investment operations and
                trading. In January 2008, I joined
                <a href="https://bostonadvisors.com">Boston Advisors</a> where I would stay for
                <strong>over a decade</strong>. As a Systems Analyst, I started
                <strong>building internal tools</strong> using Excel and VBA before moving on to use
                <strong>Python, Flask, and SQL</strong>. In what would be my final year at the
                company before I tried consulting, I joined the Quant Team as a Software Developer.
            </p>
            <p>
                Before that, I was a Hedge Fund Accountant and worked briefly as a Day Trader.
            </p>
            <br>
            <p>2005: The Graduate</p>
            <p>
                I graduated Magna Cum Laude from
                <a href="https://www.northeastern.edu/">Northeastern University</a> where I earned
                my <strong>Bachelor of Science in Mathematics</strong>.
            </p>

        </div>

    {% endblock %}